.userProfile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: solid 3px;
  max-width: 250px; }
  .userProfile__image {
    object-fit: cover;
    max-width: 200px; }
  .userProfile__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 1 45%;
    min-height: 250px;
    padding: 1em; }
