@mixin flex($direction, $justify, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-align($align) {
  align-items: $align;
}

.singleProfileContainer {
  @include flex(column, center);
}

.container {
  @include flex(row, center, center);
  gap: 5px;
  border: solid 3px;
  margin: 1rem;

  &--userProfile {
    max-width: 300px;
  }

  &__image {
    object-fit: cover;
    max-width: 300px;
  }

  &__card {
    @include flex(column, space-around);
    min-height: 250px;
    padding: 1em;
  }
}

a:visited {
  text-decoration: none;
  color: black;
}