.allVideos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px; }

.allVideos__img {
  object-fit: cover;
  max-width: 200px; }

.allVideos__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 45%;
  min-height: 225px;
  border: solid 3px;
  padding: 1em; }

.shoppingCart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 25px; }

.shoppingCart__img {
  object-fit: cover;
  max-width: 200px; }

.shoppingCart__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 500px;
  border: solid 3px;
  padding: 1em; }

.singleProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: solid 3px;
  margin: 1rem; }

.container--userProfile {
  max-width: 300px; }

.container__image {
  object-fit: cover;
  max-width: 300px; }

.container__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 250px;
  padding: 1em; }

a:visited {
  text-decoration: none;
  color: black; }

.signVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 2000px; }

.nav__img {
  max-width: 20%;
  object-fit: cover; }

.nav__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 45%;
  min-height: 225px;
  border: solid 3px;
  padding: 1em; }

.nav > * {
  margin: 0.7em; }

body {
  font-family: sans-serif;
  text-align: center; }

a {
  text-decoration: none; }

label {
  display: block; }

nav {
  align-items: center;
  background-color: beige;
  display: flex;
  height: 60px;
  padding: 20px;
  border-radius: 10px; }

.graceShopperLogo,
.cart-icon,
.header-profile-picture {
  height: 50px;
  border-radius: 100px; }

/* Move to allProducts.css */
.video-preview {
  height: 150px; }

/* Move to singleVideo.css */
.video-picture {
  height: 250px; }

form div {
  margin: 1em;
  display: inline-block; }

.profile-picture {
  max-width: 5%;
  height: auto; }

/* Landing Page - To Be Moved Later */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.cta-get-started {
  background-color: beige;
  width: 100px;
  padding: 10px;
  text-decoration: none;
  color: black; }

.services {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.trophy-icon,
.check-mark-icon,
.support-icon {
  height: 60px; }

.carousel-image {
  height: 200px; }
