.allVideos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.allVideos__img {
  object-fit: cover;
  max-width: 200px;
}

.allVideos__card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 45%;
  min-height: 250px;
  border: solid 3px;
  padding: 1em;
}

body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  align-items: center;
  background-color: beige;
  display: flex;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
}

.graceShopperLogo,
.cart-icon,
.header-profile-picture {
  height: 50px;
  border-radius: 100px;
}

/* Move to allProducts.css */
.video-preview {
  height: 150px;
}

/* Move to singleVideo.css */
.video-picture {
  height: 250px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.profile-picture {
  max-width: 5%;
  height: auto;
}

/* Landing Page - To Be Moved Later */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-get-started {
  background-color: beige;
  width: 100px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trophy-icon,
.check-mark-icon,
.support-icon {
  height: 60px;
}

.carousel-image {
  height: 200px;
}
