@import "./styles/AllProducts/allProducts.scss";
@import "./styles/ShoppingCart/shoppingCart.scss";
@import "./styles/UserProfile/userProfile.scss";
@import "./styles/Header/header.scss";
@import "./styles/LandingPage/landingPage.scss";

body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  align-items: center;
  background-color: beige;
  display: flex;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
}

.graceShopperLogo,
.cart-icon,
.header-profile-picture {
  height: 50px;
  border-radius: 100px;
}

/* Move to allProducts.css */
.video-preview {
  height: 150px;
}

/* Move to singleVideo.css */
.video-picture {
  height: 250px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.profile-picture {
  max-width: 5%;
  height: auto;
}

/* Landing Page - To Be Moved Later */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-get-started {
  background-color: beige;
  width: 100px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.trophy-icon,
.check-mark-icon,
.support-icon {
  height: 60px;
}

.carousel-image {
  height: 200px;
}
