body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  align-items: center;
  background-color: beige;
  display: flex;
  height: 60px;
  padding: 20px;
  border-radius: 10px;
}

.graceShopperLogo,
.cart-icon {
  height: 50px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.profile-picture {
  width: 5%;
}